*{
  padding: 0;
  margin: 0;
}
#root{
height: 100%;
width: 100%;
padding: 10px;
}

.note{
  display: flex;
  gap: 4rem;
}
.notes {
    height: 100px;
  width: 400px;
  background: rgb(78, 77, 77);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.notes h1{
color: blue;
}
.notes p{
  width: 70%;
  color: white;
}